body {
  font-family: "Poppins", sans-serif;
  color: #22343d;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #22343d;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  line-height: 0.93;
}

/** Header Styles */

.header-nav-link {
  font-size: 16px;
  line-height: 1.75;
  padding: 26px 0;
  display: block;
}

.header-nav-link.accent {
  font-weight: 600;
}

.header-btn {
  font-size: 16px;
  font-weight: 600;
  padding: 9px 24px;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  background-color: white;
}

.header-btn.accent {
  background-color: #02897a;
  border: 1px solid #02897a;
  color: white;
}

nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  margin-left: 237px;
  gap: 30px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-btn-list {
  display: flex;
  gap: 21px;
}

/** Hero Section Styles */

.hero {
}

.header-btn {
}

.accent {
}

.hero-link {
}
